.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.result {
  font-size: 30px;
  font-weight: bold;
  color: rgb(74, 75, 45);
  margin-bottom: 1rem;
}

.button--group {
  margin: 0.5rem 0;
}

button {
  background-color: rgb(115, 118, 55);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 2px;
  margin: 0 0.5rem;
}

.input--group {
  margin: 0.5rem 0;
}

input {
  border: 1px solid #ddd;
  outline: none;
  padding: 0.8rem;
  border-radius: 2px;
}
